
# /
/*.a
/*.db
/*.dll
/*.exe
/*.go
/*.lib
/*.log
/*.su
/*.zip
/.cproject
/.settings
/ETA.ico
/axon.ico
/clindex_ETAHelp
/clindex_wiki
/en_US.aff
/en_US.dic
/eta.go
/getjar.bat
/makefile.install
/mingw_debug
/mingw_release
/optimize.bat
/stdlib.su
/suneido.db.1
/suneido.db.2
/suneido.db.3
/suneido.db.4
/suneido.db.5
/suneido.db.6
/suneido.db.7
/suneido.db.8
/suneido.db.9
/suneido.db.bak
/suneido.exe
hunspell

vc12suneido/Release/*
vc12suneido/Debug/*
vc12gc65/Release/*
vc12gc65/Debug/*

vs2015suneido/Release/*
vs2015suneido/Debug/*
vs2015gc65/Release/*
vs2015gc65/Debug/*

# /gc6.5/
/gc6.5/mingw_release
/gc6.5/mingw_debug

# /installer/
/installer/Output

Thumbs.db
*.opensdf
*.sdf
*.suo

dropsrc.bat
install.bat
res/axon.ico
sign.bat
ignore_rc.bat
*.log
*.user
*.bak
*.tmp
tmp.*
nightlychecktimes.txt
clindex_*/*
splash/*
.idea/*

*.aps
*.opendb
*.DS_Store
*.db