
# /
/*.a
/*.db
/*.dll
/*.exe
/*.go
/*.lib
/*.log
/*.su
/*.zip
/.cproject
/.settings
/ETA.ico
/axon.ico
/clindex_ETAHelp
/clindex_wiki
/en_US.aff
/en_US.dic
/eta.go
/getjar.bat
/makefile.install
*_debug/
*_release/
clang/
/optimize.bat
/stdlib.su
/suneido.db.1
/suneido.db.2
/suneido.db.3
/suneido.db.4
/suneido.db.5
/suneido.db.6
/suneido.db.7
/suneido.db.8
/suneido.db.9
/suneido.db.bak
/suneido.exe
hunspell

# visual studio
Release/
Debug/
Profile/
.vs/

# /installer/
/installer/Output

Thumbs.db
*.opensdf
*.sdf
*.suo

dropsrc.bat
install.bat
res/axon.ico
sign.bat
ignore_rc.bat
*.log
*.user
*.bak
*.tmp
tmp.*
nightlychecktimes.txt
clindex_*/*
splash/*
.idea/*

*.aps
*.opendb
*.DS_Store
*.db
*.db-shm

snap.bat

snap201*/
suneido20*/
.vscode/
