/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
 * This file is part of Suneido - The Integrated Application Platform
 * see: http://www.suneido.com for more information.
 * 
 * Copyright (c) 2000 Suneido Software Corp. 
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation - version 2. 
 *
 * This program is distributed in the hope that it will be
 * useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
 * PURPOSE.  See the GNU General Public License in the file COPYING
 * for more details. 
 *
 * You should have received a copy of the GNU General Public
 * License along with this program; if not, write to the Free
 * Software Foundation, Inc., 59 Temple Place - Suite 330,
 * Boston, MA 02111-1307, USA
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#include "resource.h"
#include "windows.h"

#define IDC_STATIC (-1)

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// 24
//

IDR_MANIFEST            24      MOVEABLE PURE   "res\\suneido.exe.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_SUNEIDO             ICON    DISCARDABLE     "res\\suneido.ico"
IDI_FOLDER              ICON    DISCARDABLE     "res\\folder.ico"
IDI_DOCUMENT            ICON    DISCARDABLE     "res\\document.ico"
IDI_OPENFOLDER          ICON    DISCARDABLE     "res\\openfolder.ico"
IDI_DOWNARROW           ICON    DISCARDABLE     "res\\downarrow.ico"
IDI_CLOSE	            ICON    DISCARDABLE     "res\\close.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

REBUILD DIALOG DISCARDABLE  0, 0, 205, 78
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "suneido -rebuild"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,148,57,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,91,57,50,14
    LTEXT           "Rebuild as of:",IDC_REBUILD_STATIC,38,7,160,8
    EDITTEXT        IDC_REBUILD_DATE,38,18,159,12,ES_AUTOHSCROLL | 
                    ES_READONLY | NOT WS_TABSTOP
    ICON            IDI_SUNEIDO,IDC_STATIC,8,9,21,20
    CONTROL         "Progress1",IDC_PROGRESS1,"msctls_progress32",PBS_SMOOTH,
                    7,36,190,13
END

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,0,0,0
 PRODUCTVERSION 0,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "Suneido Software Corp.\0"
            VALUE "FileDescription", "Suneido\0"
            VALUE "FileVersion", "1.0\0"
            VALUE "InternalName", "Suneido\0"
            VALUE "LegalCopyright", "Copyright © 2000-2016\0"
            VALUE "LegalTrademarks", "Suneido TM\0"
            VALUE "OriginalFilename", "suneido.exe\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "Suneido\0"
            VALUE "ProductVersion", "1.0\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

IDC_FINGER              CURSOR  DISCARDABLE     "res\\hand.cur"
IDC_DRAG1COPY           CURSOR  DISCARDABLE     "res\\drag1copy.cur"
IDC_DRAG1               CURSOR  DISCARDABLE     "res\\drag1.cur"
IDC_DRAGNCOPY           CURSOR  DISCARDABLE     "res\\dragncopy.cur"
IDC_DRAGN               CURSOR  DISCARDABLE     "res\\dragn.cur"
IDC_HANDE               CURSOR  DISCARDABLE     "res\\hande.cur"
IDC_HANDN               CURSOR  DISCARDABLE     "res\\handn.cur"
IDC_HANDS               CURSOR  DISCARDABLE     "res\\hands.cur"
IDC_HANDW               CURSOR  DISCARDABLE     "res\\handw.cur"
IDC_SPLITH              CURSOR  DISCARDABLE     "res\\splith.cur"
IDC_SPLITV              CURSOR  DISCARDABLE     "res\\splitv.cur"
IDC_PUSH                CURSOR  DISCARDABLE     "res\\push.cur"
IDC_ARROWMOVE           CURSOR  DISCARDABLE     "res\\cursor1.cur"
IDC_SPLITLEFT           CURSOR  DISCARDABLE     "res\\arrowlef.cur"
IDC_SPLITRIGHT          CURSOR  DISCARDABLE     "res\\cur00002.cur"
IDC_SPLITTOP            CURSOR  DISCARDABLE     "res\\cur00001.cur"
IDC_SPLITBOTTOM         CURSOR  DISCARDABLE     "res\\cur00003.cur"
IDC_ARROWSTACK          CURSOR  DISCARDABLE     "res\\cur00004.cur"
